extends ../layouts/main 
include ../mixins/deleteForm

block content
    h2= book.title
    img(height=150 width=100 src=book.coverImagePath)
    div Author: 
        a(href=`/authors/${book.author.id}`)= book.author.name
    div Publish Date: 
        = book.publishDate.toDateString()
    div Page Count: 
        = book.pageCount
    div Description: 
        = book.description

    a(href=`/books/${book.id}/edit`) Edit
    +deleteForm(`/books/${book.id}?_method=DELETE`)
    a(href=`/authors/${book.author.id}`) View author